.homeAdmin {
    display: flex;
    flex-direction: row;
    height: 100vh;
    justify-content: center;


}

.homeAdminAll {
    height: 100vh;
    /* background-color: rgb(78, 77, 32); */

}

.contentAdmin {
    background-color: rgb(199, 198, 175);
    flex: 3.5;
    width: 100%;

}

.sidebarAdmin {
    flex: 1;
    height: 100%;
    margin: 0;
}